In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/cars.csv')
df.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US

## ADD PREFIX

In [3]:
df.add_prefix('_items')

,_itemsCar,_itemsMPG,_itemsCylinders,_itemsDisplacement,_itemsHorsepower,_itemsWeight,_itemsAcceleration,_itemsModel,_itemsOrigin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [4]:
df['Car'].add_prefix('Car')

Car0      Chevrolet Chevelle Malibu
Car1              Buick Skylark 320
Car2             Plymouth Satellite
Car3                  AMC Rebel SST
Car4                    Ford Torino
                    ...
Car401              Ford Mustang GL
Car402            Volkswagen Pickup
Car403                Dodge Rampage
Car404                  Ford Ranger
Car405                   Chevy S-10
Name: Car, Length: 406, dtype: object

## Add Suffix

In [5]:
df.add_suffix('_item')

,Car_item,MPG_item,Cylinders_item,Displacement_item,Horsepower_item,Weight_item,Acceleration_item,Model_item,Origin_item
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436,NaN,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4.0,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4.0,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4.0,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4.0,119.0,82.0,2720,19.4,82,US

In [6]:
df['Car'].add_suffix('_Car')

0_Car      Chevrolet Chevelle Malibu
1_Car              Buick Skylark 320
2_Car             Plymouth Satellite
3_Car                  AMC Rebel SST
4_Car                    Ford Torino
                     ...
401_Car              Ford Mustang GL
402_Car            Volkswagen Pickup
403_Car                Dodge Rampage
404_Car                  Ford Ranger
405_Car                   Chevy S-10
Name: Car, Length: 406, dtype: object